---
interface Props {
	era: string;
}

const { era } = Astro.props;

---
<div class="shrink-0 relative overflow-visible">
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" class:list={[
        {
            'fill-debut-100':      era === 'debut',
            'fill-fearless-100':   era === 'fearless',
            'fill-speakNow-100':   era === 'speakNow',
            'fill-red-100':        era === 'red',
            'fill-1989-100':       era === '1989',
            'fill-reputation-100': era === 'reputation',
            'fill-lover-100':      era === 'lover',
            'fill-folklore-100':   era === 'folklore',
            'fill-evermore-100':   era === 'evermore',
            'fill-midnights-100':  era === 'midnights',
            'fill-TTPD-100':       era === 'TTPD',
            'fill-mashup-100':     era === 'mashup',
        }
    ]
    }>
        <path d="m142-480 294 294q15 15 14.5 35T435-116q-15 15-35 15t-35-15L57-423q-12-12-18-27t-6-30q0-15 6-30t18-27l308-308q15-15 35.5-14.5T436-844q15 15 15 35t-15 35L142-480Z"/>
    </svg>
</div>