---
interface Props {
	era: string;
    estado: string;
}

const { era , estado } = Astro.props;

---
<div class="shrink-0 relative overflow-visible">
    <svg height="24px" viewBox="0 -960 960 960" width="24px" class:list={[
        {
                'fill-debut-300':      estado === 'pasado' && era === 'debut',        
                'fill-fearless-300':   estado === 'pasado' && era === 'fearless',        
                'fill-speakNow-300':   estado === 'pasado' && era === 'speakNow',        
                'fill-red-300':        estado === 'pasado' && era === 'red',        
                'fill-1989-300':       estado === 'pasado' && era === '1989',        
                'fill-reputation-300': estado === 'pasado' && era === 'reputation',        
                'fill-lover-300':      estado === 'pasado' && era === 'lover',        
                'fill-folklore-300':   estado === 'pasado' && era === 'folklore',        
                'fill-evermore-300':   estado === 'pasado' && era === 'evermore',        
                'fill-midnights-300':  estado === 'pasado' && era === 'midnights',        
                'fill-TTPD-300':       estado === 'pasado' && era === 'TTPD',        
            },
            {
                'fill-debut-900':      estado === 'ahora' && era === 'debut',
                'fill-fearless-900':   estado === 'ahora' && era === 'fearless',
                'fill-speakNow-900':   estado === 'ahora' && era === 'speakNow',
                'fill-red-900':        estado === 'ahora' && era === 'red',
                'fill-1989-900':       estado === 'ahora' && era === '1989',
                'fill-reputation-900': estado === 'ahora' && era === 'reputation',
                'fill-lover-900':      estado === 'ahora' && era === 'lover',
                'fill-folklore-900':   estado === 'ahora' && era === 'folklore',
                'fill-evermore-900':   estado === 'ahora' && era === 'evermore',
                'fill-midnights-900':  estado === 'ahora' && era === 'midnights',
                'fill-TTPD-900':       estado === 'ahora' && era === 'TTPD',
            },
            {
                'fill-debut-900':      estado === 'futuro' && era === 'debut',        
                'fill-fearless-900':   estado === 'futuro' && era === 'fearless',        
                'fill-speakNow-900':   estado === 'futuro' && era === 'speakNow',        
                'fill-red-900':        estado === 'futuro' && era === 'red',        
                'fill-1989-900':       estado === 'futuro' && era === '1989',        
                'fill-reputation-900': estado === 'futuro' && era === 'reputation',        
                'fill-lover-900':      estado === 'futuro' && era === 'lover',        
                'fill-folklore-900':   estado === 'futuro' && era === 'folklore',        
                'fill-evermore-900':   estado === 'futuro' && era === 'evermore',        
                'fill-midnights-900':  estado === 'futuro' && era === 'midnights',        
                'fill-TTPD-900':       estado === 'futuro' && era === 'TTPD',             
            }
        ]
    }>
        <path d="M200-120q-33 0-56.5-23.5T120-200v-400q0-33 23.5-56.5T200-680h80v-80q0-33 23.5-56.5T360-840h240q33 0 56.5 23.5T680-760v240h80q33 0 56.5 23.5T840-440v240q0 33-23.5 56.5T760-120H520v-160h-80v160H200Zm0-80h80v-80h-80v80Zm0-160h80v-80h-80v80Zm0-160h80v-80h-80v80Zm160 160h80v-80h-80v80Zm0-160h80v-80h-80v80Zm0-160h80v-80h-80v80Zm160 320h80v-80h-80v80Zm0-160h80v-80h-80v80Zm0-160h80v-80h-80v80Zm160 480h80v-80h-80v80Zm0-160h80v-80h-80v80Z"/>
    </svg>
</div>