---
interface Props {
	era: string;
    estado: string;
}

const { era , estado } = Astro.props;
---
<div class="shrink-0 relative overflow-visible">
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" class:list={[
        {
                'fill-debut-300':      estado === 'pasado' && era === 'debut',        
                'fill-fearless-300':   estado === 'pasado' && era === 'fearless',        
                'fill-speakNow-300':   estado === 'pasado' && era === 'speakNow',        
                'fill-red-300':        estado === 'pasado' && era === 'red',        
                'fill-1989-300':       estado === 'pasado' && era === '1989',        
                'fill-reputation-300': estado === 'pasado' && era === 'reputation',        
                'fill-lover-300':      estado === 'pasado' && era === 'lover',        
                'fill-folklore-300':   estado === 'pasado' && era === 'folklore',        
                'fill-evermore-300':   estado === 'pasado' && era === 'evermore',        
                'fill-midnights-300':  estado === 'pasado' && era === 'midnights',        
                'fill-TTPD-300':       estado === 'pasado' && era === 'TTPD',        
            },
            {
                'fill-debut-900':      estado === 'ahora' && era === 'debut',
                'fill-fearless-900':   estado === 'ahora' && era === 'fearless',
                'fill-speakNow-900':   estado === 'ahora' && era === 'speakNow',
                'fill-red-900':        estado === 'ahora' && era === 'red',
                'fill-1989-900':       estado === 'ahora' && era === '1989',
                'fill-reputation-900': estado === 'ahora' && era === 'reputation',
                'fill-lover-900':      estado === 'ahora' && era === 'lover',
                'fill-folklore-900':   estado === 'ahora' && era === 'folklore',
                'fill-evermore-900':   estado === 'ahora' && era === 'evermore',
                'fill-midnights-900':  estado === 'ahora' && era === 'midnights',
                'fill-TTPD-900':       estado === 'ahora' && era === 'TTPD',
            },
            {
                'fill-debut-900':      estado === 'futuro' && era === 'debut',        
                'fill-fearless-900':   estado === 'futuro' && era === 'fearless',        
                'fill-speakNow-900':   estado === 'futuro' && era === 'speakNow',        
                'fill-red-900':        estado === 'futuro' && era === 'red',        
                'fill-1989-900':       estado === 'futuro' && era === '1989',        
                'fill-reputation-900': estado === 'futuro' && era === 'reputation',        
                'fill-lover-900':      estado === 'futuro' && era === 'lover',        
                'fill-folklore-900':   estado === 'futuro' && era === 'folklore',        
                'fill-evermore-900':   estado === 'futuro' && era === 'evermore',        
                'fill-midnights-900':  estado === 'futuro' && era === 'midnights',        
                'fill-TTPD-900':       estado === 'futuro' && era === 'TTPD',             
            }
        ]
    }>
        <path d="M192-680q-15-17-23.5-37t-8.5-43q0-50 35-85t85-35q50 0 85 35t35 85q0 23-8.5 43T368-680H192ZM400-80q-66 0-113-47t-47-113h-4q-16 0-27-10.5T196-276l-32-320q-2-18 10-31t30-13h152q18 0 30 13t10 31l-32 320q-2 15-13 25.5T324-240h-4q0 33 23.5 56.5T400-160q33 0 56.5-23.5T480-240v-480q0-66 47-113t113-47q66 0 113 47t47 113v600q0 17-11.5 28.5T760-80q-17 0-28.5-11.5T720-120v-600q0-33-23.5-56.5T640-800q-33 0-56.5 23.5T560-720v480q0 66-47 113T400-80Z"/>
    </svg>
</div>