---
interface Props {
	era: string;
    estado: string;
}

const { era , estado } = Astro.props;
---
<div class="shrink-0 relative overflow-visible">
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" class:list={[
        {
                'fill-debut-300':      estado === 'pasado' && era === 'debut',        
                'fill-fearless-300':   estado === 'pasado' && era === 'fearless',        
                'fill-speakNow-300':   estado === 'pasado' && era === 'speakNow',        
                'fill-red-300':        estado === 'pasado' && era === 'red',        
                'fill-1989-300':       estado === 'pasado' && era === '1989',        
                'fill-reputation-300': estado === 'pasado' && era === 'reputation',        
                'fill-lover-300':      estado === 'pasado' && era === 'lover',        
                'fill-folklore-300':   estado === 'pasado' && era === 'folklore',        
                'fill-evermore-300':   estado === 'pasado' && era === 'evermore',        
                'fill-midnights-300':  estado === 'pasado' && era === 'midnights',        
                'fill-TTPD-300':       estado === 'pasado' && era === 'TTPD',        
            },
            {
                'fill-debut-900':      estado === 'ahora' && era === 'debut',
                'fill-fearless-900':   estado === 'ahora' && era === 'fearless',
                'fill-speakNow-900':   estado === 'ahora' && era === 'speakNow',
                'fill-red-900':        estado === 'ahora' && era === 'red',
                'fill-1989-900':       estado === 'ahora' && era === '1989',
                'fill-reputation-900': estado === 'ahora' && era === 'reputation',
                'fill-lover-900':      estado === 'ahora' && era === 'lover',
                'fill-folklore-900':   estado === 'ahora' && era === 'folklore',
                'fill-evermore-900':   estado === 'ahora' && era === 'evermore',
                'fill-midnights-900':  estado === 'ahora' && era === 'midnights',
                'fill-TTPD-900':       estado === 'ahora' && era === 'TTPD',
            },
            {
                'fill-debut-900':      estado === 'futuro' && era === 'debut',        
                'fill-fearless-900':   estado === 'futuro' && era === 'fearless',        
                'fill-speakNow-900':   estado === 'futuro' && era === 'speakNow',        
                'fill-red-900':        estado === 'futuro' && era === 'red',        
                'fill-1989-900':       estado === 'futuro' && era === '1989',        
                'fill-reputation-900': estado === 'futuro' && era === 'reputation',        
                'fill-lover-900':      estado === 'futuro' && era === 'lover',        
                'fill-folklore-900':   estado === 'futuro' && era === 'folklore',        
                'fill-evermore-900':   estado === 'futuro' && era === 'evermore',        
                'fill-midnights-900':  estado === 'futuro' && era === 'midnights',        
                'fill-TTPD-900':       estado === 'futuro' && era === 'TTPD',             
            }
        ]
    }>
        <path d="M120-712v-96q0-11 9.5-17t19.5-1l95 48q11 5 11 18t-11 18l-95 48q-10 5-19.5-1t-9.5-17Zm600 0v-96q0-11 9.5-17t19.5-1l95 48q11 5 11 18t-11 18l-95 48q-10 5-19.5-1t-9.5-17Zm-280-40v-96q0-11 9.5-17t19.5-1l95 48q11 5 11 18t-11 18l-95 48q-10 5-19.5-1t-9.5-17ZM336-88q-98-11-177-39.5T80-200v-360q0-25 31.5-46.5t85.5-38q54-16.5 127-26t156-9.5q83 0 156 9.5t127 26q54 16.5 85.5 38T880-560v360q0 45-79.5 73.5T623-87q-9 1-16-5.5t-7-15.5v-52q0-50-35-85t-85-35q-50 0-85 35t-35 85v51q0 10-7 16t-17 5Zm144-432q97 0 167.5-11.5T760-558q0-5-76-23.5T480-600q-128 0-204 18.5T200-558q42 15 112.5 26.5T480-520Z"/>
    </svg>
</div>