---
interface Props {
	button: string;
	href: string;
}

const { href, button } = Astro.props;
---
<button class="bg-debut-500 hover:bg-debut-400-original rounded-[100px] flex flex-col gap-2 items-center justify-center shrink-0 h-10 w- relative overflow-hidden">
	<a href={href} class="pt-2.5 pr-6 pb-2.5 pl-6 flex-row gap-2   self-stretch flex-1 text-taylor-swift-50 text-center font-m3-label-large-font-family text-m3-label-large-font-size leading-m3-label-large-line-height font-m3-label-large-font-weight relative flex items-center justify-center"
	style="letter-spacing: var(--m3-label-large-letter-spacing, 0.1px)">
		{button}
	</a>
</button>