---
import type { string } from 'astro/zod';

interface Props {
	button: string;
	href: string;
	era: string;
}

const { href, button, era }  =  Astro.props;
---
<button class:list = {[
		"rounded-[100px] flex flex-col gap-2 items-center justify-center shrink-0 h-10 w- relative overflow-hidden",
		{
			"bg-debut-600 hover:bg-debut-500": era === "debut",
			"bg-fearless-600 hover:bg-fearless-500": era === "fearless",
			"bg-speak-now-600 hover:bg-speak-now-500": era === "speak-now",
			"bg-red-600 hover:bg-red-500": era === "red",
			"bg-1989-600 hover:bg-1989-500": era === "1989",
			"bg-reputation-600 hover:bg-reputation-500": era === "reputation",
			"bg-lover-600 hover:bg-lover-500": era === "lover",
			"bg-folklore-600 hover:bg-folklore-500": era === "folklore",
			"bg-evermore-600 hover:bg-evermore-500": era === "evermore",
			"bg-midnights-600 hover:bg-midnights-500": era === "midnights",
			"bg-TTPD-600 hover:bg-TTPD-500": era === "TTPD",
			
		}
	]}>
	<a href = {href} class:list = {[
		"flex-row gap-2 self-stretch flex-1 text-taylor-swift-50 text-center font-title-small-font-family text-m3-label-large-font-size leading-m3-label-large-line-height font-m3-label-large-font-weight relative flex items-center justify-center text-reputation-50 py-2.5 px-6",
		{
			"text-debut-50": era === "debut",
			"text-fearless-50": era === "fearless",
			"text-speak-now-50": era === "speak-now",
			"text-red-50": era === "red",
			"text-1989-50": era === "1989",
			"text-reputation-50": era === "reputation",
			"text-lover-50": era === "lover",
			"text-folklore-50": era === "folklore",
			"text-evermore-50": era === "evermore",
			"text-midnights-50": era === "midnights",
			"text-TTPD-50": era === "TTPD",
		}
		]}>
		{button}
	</a>
</button>