---
interface Props {
	button: string;
	href: string;
	era: string;
	src: string;
}

const { href, button, era , src }  =  Astro.props;
---
<button class:list = {[
		"rounded-[100px] flex flex-col gap-2 items-center justify-center shrink-0 h-10 w- relative overflow-hidden",
		{
			"bg-debut-600 		hover:bg-debut-500": 		era === "debut",
			"bg-fearless-600 	hover:bg-fearless-500": 	era === "fearless",
			"bg-speak-now-600 	hover:bg-speak-now-500": 	era === "speak-now",
			"bg-red-600 		hover:bg-red-500": 			era === "red",
			"bg-1989-600 		hover:bg-1989-500": 		era === "1989",
			"bg-reputation-600 	hover:bg-reputation-500": 	era === "reputation",
			"bg-lover-600 		hover:bg-lover-500": 		era === "lover",
			"bg-folklore-600 	hover:bg-folklore-500": 	era === "folklore",
			"bg-evermore-600 	hover:bg-evermore-500": 	era === "evermore",
			"bg-midnights-600 	hover:bg-midnights-500": 	era === "midnights",
			"bg-TTPD-600 		hover:bg-TTPD-500": 		era === "TTPD",
			"bg-mashup-600		hover:bg-mashup-500": 		era === "MashUp",
			
		}
	]}
	style = "
		box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15),
		0px 1px 2px 0px rgba(0, 0, 0, 0.3);
	">
	<div class = "pt-2.5 pr-6 pb-2.5 pl-4 flex flex-row gap-2 items-center justify-center self-stretch flex-1 relative">
		<icon class = "shrink-0 w-[18px] h-[18px] relative">
			<img  
				class = "w-[100%] h-[100%] absolute right-[0%] left-[0%] bottom-[0%] top-[0%]"
				style = "object-fit: cover" 
				src =  {src}
				alt = {era}
			>
		</icon>
		<a href = {href} class:list = {[
			"text-center font-title-small-font-family text-title-small-font-size leading-title-small-line-height font-title-small-font-weight relative flex items-center justify-center",
			{
				"text-debut-50": 		era === "debut",
				"text-fearless-50": 	era === "fearless",
				"text-speak-now-50": 	era === "speak-now",
				"text-red-50": 			era === "red",
				"text-1989-50": 		era === "1989",
				"text-reputation-50": 	era === "reputation",
				"text-lover-50": 		era === "lover",
				"text-folklore-50": 	era === "folklore",
				"text-evermore-50": 	era === "evermore",
				"text-midnights-50": 	era === "midnights",
				"text-TTPD-50": 		era === "TTPD",
				"text-mashup-50": 		era === "MashUp",
			}
			]}
			style = "letter-spacing: var(--title-small-letter-spacing, 0.1px)">
			{button}
		</a>
	</div>
</button>