---
interface Props {
	href: string | null;
	era: string;
	icono: string | null;
}

const { href , era , icono }  =  Astro.props;
---
<a href = {href} class:list = {[
		"hover:shadow-sm rounded-[100px] flex flex-col gap-2 items-center justify-center shrink-0 h-10 relative overflow-hidden",
		{
			"bg-debut-600 hover:shadow-debut-900 hover:bg-debut-500 dark:bg-debut-200 dark:hover:shadow-debut-950 dark:hover:bg-debut-300": era === "debut",
			"bg-fearless-600 hover:shadow-fearless-900 hover:bg-fearless-500 dark:bg-fearless-200 dark:hover:shadow-fearless-950 dark:hover:bg-fearless-300": era === "fearless",
			"bg-speakNow-600 hover:shadow-speakNow-900 hover:bg-speakNow-500 dark:bg-speakNow-200 dark:hover:shadow-speakNow-950 dark:hover:bg-speakNow-300": era === "speakNow",
			"bg-red-600 hover:shadow-red-900 hover:bg-red-500 dark:bg-red-200 dark:hover:shadow-red-950 dark:hover:bg-red-300": era === "red",
			"bg-1989-600 hover:shadow-1989-900 hover:bg-1989-500 dark:bg-1989-200 dark:hover:shadow-1989-950 dark:hover:bg-1989-300": era === "1989",
			"bg-reputation-600 hover:shadow-reputation-900 hover:bg-reputation-500 dark:bg-reputation-200 dark:hover:shadow-reputation-950 dark:hover:bg-reputation-300": era === "reputation",
			"bg-lover-600 hover:shadow-lover-900 hover:bg-lover-500 dark:bg-lover-200 dark:hover:shadow-lover-950 dark:hover:bg-lover-300": era === "lover",
			"bg-folklore-600 hover:shadow-folklore-900 hover:bg-folklore-500 dark:bg-folklore-200 dark:hover:shadow-folklore-950 dark:hover:bg-folklore-300": era === "folklore",
			"bg-evermore-600 hover:shadow-evermore-900 hover:bg-evermore-500 dark:bg-evermore-200 dark:hover:shadow-evermore-950 dark:hover:bg-evermore-300": era === "evermore",
			"bg-midnights-600 hover:shadow-midnights-900 hover:bg-midnights-500 dark:bg-midnights-200 dark:hover:shadow-midnights-950 dark:hover:bg-midnights-300": era === "midnights",
			"bg-TTPD-600 hover:shadow-TTPD-900 hover:bg-TTPD-500 dark:bg-TTPD-200 dark:hover:shadow-TTPD-950 dark:hover:bg-TTPD-300": era === "TTPD",
			"bg-mashup-600 hover:shadow-mashup-900 hover:bg-mashup-500 dark:bg-mashup-200 dark:hover:shadow-mashup-950 dark:hover:bg-mashup-300": era === "mashup",
			
		}
	]}>
	<div class:list = {[
		"py-2.5 flex flex-row gap-2 items-center justify-center self-stretch flex-1 relative",
		{
			"pl-4 pr-6": icono === "Izq",
			"px-6": icono === null,
			"pl-6 pr-4": icono === "Der",
		}
		]}>
		<slot name="before"/>

		<p  class:list = {[
			"cursor-pointer text-center text-title-small relative flex items-center justify-center",
		{
			"text-debut-50 dark:text-debut-600": 		era === "debut",
			"text-fearless-50 dark:text-fearless-600": 	era === "fearless",
			"text-speakNow-50 dark:text-speakNow-600": 	era === "speakNow",
			"text-red-50 dark:text-red-600": 			era === "red",
			"text-1989-50 dark:text-1989-600": 		era === "1989",
			"text-reputation-50 dark:text-reputation-600": 	era === "reputation",
			"text-lover-50 dark:text-lover-600": 		era === "lover",
			"text-folklore-50 dark:text-folklore-600": 	era === "folklore",
			"text-evermore-50 dark:text-evermore-600": 	era === "evermore",
			"text-midnights-50 dark:text-midnights-600": 	era === "midnights",
			"text-TTPD-50 dark:text-TTPD-600": 		era === "TTPD",
			"text-mashup-50 dark:text-mashup-600": 		era === "mashup",
		}
		]}
		style = "letter-spacing: var(--title-small-letter-spacing, 0.1px)">
			<slot/>
		</p>
		<slot name="after"/>
	</div>
</a>