---
interface Props {
	icono: string | null;
	era: string;
}

const { icono , era } = Astro.props;
---
<chip
    class:list = {[
        "cursor-pointer transition hover:ease-in-out hover:duration-125 hover:scale-105 rounded-lg border-solid  border flex flex-row gap-0 items-center justify-center shrink-0 h-8 relative overflow-hidden",
        {
            "bg-debut-200       border-debut-600":      era === "debut",
            "bg-fearless-200    border-fearless-600":   era === "fearless",
            "bg-speakNow-200    border-speakNow-600":   era === "speakNow",
            "bg-red-200         border-red-600":        era === "red",
            "bg-1989-200        border-1989-600":       era === "1989",
            "bg-reputation-200  border-reputation-600": era === "reputation",
            "bg-lover-200       border-lover-600":      era === "lover",
            "bg-folklore-200    border-folklore-600":   era === "folklore",
            "bg-evermore-200    border-evermore-600":   era === "evermore",
            "bg-midnights-200   border-midnights-600":  era === "midnights",
            "bg-TTPD-200        border-TTPD-600":       era === "TTPD",
            "bg-mashup-200      border-mashup-600":     era === "mashup",
        }
        ]}
    style = "
        box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15),
        0px 1px 2px 0px rgba(0, 0, 0, 0.3); 
    "
>
    <div
        class:list = {[
            "pt-1.5 pb-1.5 flex flex-row gap-2 items-center justify-center shrink-0 h-8 relative",
            {
                "pl-2 pr-4": icono === "Izq",
                "px-4": icono === null,
                "pl-4 pr-2": icono === "Der",
            }
        ]}
    >
        <slot name="before"/>
        
        <p
        class:list = {[
            "text-center text-title-small relative flex items-center justify-center",
            {
                "text-debut-900":       era === "debut",
                "text-fearless-900":    era === "fearless",
                "text-speakNow-900":   era === "speakNow",
                "text-red-900":         era === "red",
                "text-1989-900":        era === "1989",
                "text-reputation-900":  era === "reputation",
                    "text-lover-900":       era === "lover",
                    "text-folklore-900":    era === "folklore",
                    "text-evermore-900":    era === "evermore",
                    "text-midnights-900":   era === "midnights",
                    "text-TTPD-900":        era === "TTPD",
                }
                ]}
            style = "letter-spacing: var(--title-small-letter-spacing, 0.1px)"
        >
            <slot/>
        </p>

        <slot name="after">
    </button>
</chip>