---
import type { string } from 'astro/zod';

interface Props {
	chip: string;
	era: string;
	src: string;
}

const { chip, era , src } = Astro.props;
---
<chip
    class:list = {[
        " rounded-lg border-solid  border flex flex-row gap-0 items-center justify-center shrink-0 h-8 relative overflow-hidden",
        {
            "bg-debut-200       border-debut-600":      era === "debut",
            "bg-fearless-200    border-fearless-600":   era === "fearless",
            "bg-speak-now-200   border-speak-now-600":  era === "speak-now",
            "bg-red-200         border-red-600":        era === "red",
            "bg-1989-200        border-1989-600":       era === "1989",
            "bg-reputation-200  border-reputation-600": era === "reputation",
            "bg-lover-200       border-lover-600":      era === "lover",
            "bg-folklore-200    border-folklore-600":   era === "folklore",
            "bg-evermore-200    border-evermore-600":   era === "evermore",
            "bg-midnights-200   border-midnights-600":  era === "midnights",
            "bg-TTPD-200        border-TTPD-600":       era === "TTPD",
            "bg-mashup-200      border-mashup-600":     era === "mashup",
        }
        ]}
    style = "
        box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15),
        0px 1px 2px 0px rgba(0, 0, 0, 0.3); 
    "
>
    <button
        class = "pt-1.5 pr-4 pb-1.5 pl-2 flex flex-row gap-2 items-center justify-center shrink-0 h-8 relative"
    >
        <icon class = "shrink-0 w-[18px] h-[18px] relative">
            <img
                class = "w-[100%] h-[100%] absolute right-[0%] left-[0%] bottom-[0%] top-[0%]"
                style = "object-fit: cover"
                src = {src}
                alt = {src}
            />
        </icon>
        <a
            class:list = {[
                "text-center font-title-small-font-family text-title-small-font-size leading-title-small-line-height font-title-small-font-weight relative flex items-center justify-center",
                {
                    "text-debut-900":       era === "debut",
                    "text-fearless-900":    era === "fearless",
                    "text-speak-now-900":   era === "speak-now",
                    "text-red-900":         era === "red",
                    "text-1989-900":        era === "1989",
                    "text-reputation-900":  era === "reputation",
                    "text-lover-900":       era === "lover",
                    "text-folklore-900":    era === "folklore",
                    "text-evermore-900":    era === "evermore",
                    "text-midnights-900":   era === "midnights",
                    "text-TTPD-900":        era === "TTPD",
                }
                ]}
            style = "letter-spacing: var(--title-small-letter-spacing, 0.1px)"
        >
            {chip}
        </a>
    </button>
</chip>