---
import CiudadSvg from './svg/CiudadSvg.astro';
import LocationSvg from './svg/LocationSvg.astro';
import MicrofonoSvg from './svg/MicrofonoSvg.astro';
import StadiumSvg from './svg/StadiumSvg.astro';

interface Props {
	eraFecha: string;
    dia: string;
    mes: string;
    año: string;
    pais: string;
    ciudad: string;
    estadio: string;
    telonero: string;
}

const { eraFecha , dia , mes , año , pais , ciudad , estadio , telonero } = Astro.props
---

<article class:list={["rounded-3xl p-3 flex flex-row gap-2.5 items-center justify-start flex-1 h-40 min-w-[325px] relative overflow-hidden",
    {
        'bg-debut-300':         eraFecha === 'debut',
        'bg-fearless-300':      eraFecha === 'fearless',
        'bg-speakNow-300':      eraFecha === 'speakNow',
        'bg-red-300':           eraFecha === 'red',
        'bg-1989-300':          eraFecha === '1989',
        'bg-reputation-300':    eraFecha === 'reputation',
        'bg-lover-300':         eraFecha === 'lover',
        'bg-folklore-300':      eraFecha === 'folklore',
        'bg-evermore-300':      eraFecha === 'evermore',
        'bg-midnights-300':     eraFecha === 'midnights',
        'bg-TTPD-300':          eraFecha === 'TTPD',
    }
]}>
    <div class="flex flex-col gap-0 items-center justify-center self-stretch shrink-0 relative">
        <div class="bg-schemes-error rounded-tl-xl rounded-tr-xl pr-3.5 pl-3.5 flex flex-col gap-0 items-center justify-start shrink-0 w-[100px] relative overflow-hidden">
            <div
                class="text-schemes-error-container text-center font-title-small-font-family text-title-small-font-size leading-title-small-line-height font-title-small-font-weight relative self-stretch"
                style="letter-spacing: var(--title-small-letter-spacing, 0.1px)"
            >
                Ahora
            </div>
        </div>
        <div class:list={[
            "rounded-br-xl rounded-bl-xl pr-3.5 pl-3.5 flex flex-col gap-0 items-center justify-center flex-1 relative overflow-hidden",
            {
                'bg-debut-600':         eraFecha === 'debut',
                'bg-fearless-600':      eraFecha === 'fearless',
                'bg-speakNow-600':      eraFecha === 'speakNow',
                'bg-red-600':           eraFecha === 'red',
                'bg-1989-600':          eraFecha === '1989',
                'bg-reputation-600':    eraFecha === 'reputation',
                'bg-lover-600':         eraFecha === 'lover',
                'bg-folklore-600':      eraFecha === 'folklore',
                'bg-evermore-600':      eraFecha === 'evermore',
                'bg-midnights-600':     eraFecha === 'midnights',
                'bg-TTPD-600':          eraFecha === 'TTPD',
            }
        ]}>
            <div class:list={[
                "text-left font-display-small-font-family text-display-small-font-size leading-display-small-line-height font-display-small-font-weight relative",
                {
                    'text-debut-200':         eraFecha === 'debut',
                    'text-fearless-200':      eraFecha === 'fearless',
                    'text-speakNow-200':      eraFecha === 'speakNow',
                    'text-red-200':           eraFecha === 'red',
                    'text-1989-200':          eraFecha === '1989',
                    'text-reputation-200':    eraFecha === 'reputation',
                    'text-lover-200':         eraFecha === 'lover',
                    'text-folklore-200':      eraFecha === 'folklore',
                    'text-evermore-200':      eraFecha === 'evermore',
                    'text-midnights-200':     eraFecha === 'midnights',
                    'text-TTPD-200':          eraFecha === 'TTPD',
                    'text-mashup-200':        eraFecha === 'mashup',
                }
                ]}>
                Dia
            </div>

            <div class:list={[
                "text-left font-display-small-font-family text-display-small-font-size leading-display-small-line-height font-display-small-font-weight relative",
                {
                    'text-debut-200':         eraFecha === 'debut',
                    'text-fearless-200':      eraFecha === 'fearless',
                    'text-speakNow-200':      eraFecha === 'speakNow',
                    'text-red-200':           eraFecha === 'red',
                    'text-1989-200':          eraFecha === '1989',
                    'text-reputation-200':    eraFecha === 'reputation',
                    'text-lover-200':         eraFecha === 'lover',
                    'text-folklore-200':      eraFecha === 'folklore',
                    'text-evermore-200':      eraFecha === 'evermore',
                    'text-midnights-200':     eraFecha === 'midnights',
                    'text-TTPD-200':          eraFecha === 'TTPD',
                    'text-mashup-200':        eraFecha === 'mashup',
                }
                ]}>
                Mes
            </div>

            <div 
                class:list={[
                    "text-left font-title-small-font-family text-title-small-font-size leading-title-small-line-height font-title-small-font-weight relative",
                    {
                        'text-debut-200':         eraFecha === 'debut',
                        'text-fearless-200':      eraFecha === 'fearless',
                        'text-speakNow-200':      eraFecha === 'speakNow',
                        'text-red-200':           eraFecha === 'red',
                        'text-1989-200':          eraFecha === '1989',
                        'text-reputation-200':    eraFecha === 'reputation',
                        'text-lover-200':         eraFecha === 'lover',
                        'text-folklore-200':      eraFecha === 'folklore',
                        'text-evermore-200':      eraFecha === 'evermore',
                        'text-midnights-200':     eraFecha === 'midnights',
                        'text-TTPD-200':          eraFecha === 'TTPD',
                        'text-mashup-200':        eraFecha === 'mashup',
                    }
                    ]} 
                style="letter-spacing: var(--title-small-letter-spacing, 0.1px)">
                Año
            </div>
        </div>
    </div>

    <div class="flex flex-col items-start justify-between self-stretch shrink-0 relative overflow-hidden">
        <div class="flex flex-row gap-[5px] items-center justify-start shrink-0 relative">
            <CiudadSvg era={eraFecha}/>
            <div class:list={[
                "text-left font-headline-medium-font-family text-headline-medium-font-size leading-headline-medium-line-height font-headline-medium-font-weight relative",
                {
                    'text-debut-900':         eraFecha === 'debut',
                    'text-fearless-900':      eraFecha === 'fearless',
                    'text-speakNow-900':      eraFecha === 'speakNow',
                    'text-red-900':           eraFecha === 'red',
                    'text-1989-900':          eraFecha === '1989',
                    'text-reputation-900':    eraFecha === 'reputation',
                    'text-lover-900':         eraFecha === 'lover',
                    'text-folklore-900':      eraFecha === 'folklore',
                    'text-evermore-900':      eraFecha === 'evermore',
                    'text-midnights-900':     eraFecha === 'midnights',
                    'text-TTPD-900':          eraFecha === 'TTPD',
                    'text-mashup-900':        eraFecha === 'mashup',
                }
            ]}>
            Ciudad
            </div>
        </div>

        <div
            class="flex flex-row gap-[5px] items-center justify-start shrink-0 relative"
        >
            <LocationSvg era={eraFecha}/>
            <div
            class="text-debut-900 text-left font-headline-medium-font-family text-headline-medium-font-size leading-headline-medium-line-height font-headline-medium-font-weight relative"
            >
            País
            </div>
        </div>

        <div
            class="flex flex-row gap-[5px] items-center justify-start shrink-0 relative"
        >
            <StadiumSvg era={eraFecha}/>
            <div
            class="text-debut-900 text-left font-title-medium-font-family text-title-medium-font-size leading-title-medium-line-height font-title-medium-font-weight relative"
            style="letter-spacing: var(--title-medium-letter-spacing, 0.15px)"
            >
            Lugar
            </div>
        </div>

        <div
            class="flex flex-row gap-[5px] items-center justify-start shrink-0 relative"
        >
            <MicrofonoSvg era={eraFecha}/>
            <div
            class="text-debut-900 text-left font-title-small-font-family text-title-small-font-size leading-title-small-line-height font-title-small-font-weight relative"
            style="letter-spacing: var(--title-small-letter-spacing, 0.1px)"
            >
            Telonero/a
            </div>
        </div>
    </div>
</article>