---
import Logo from './Logo.astro';
import Button from '../components/Button.astro';
---
<div class="bg-debut-900 pt-4 pr-[70px] pb-4 pl-[70px] flex flex-row items-center justify-between self-stretch shrink-0 h-20 relative">
    <Logo era="debut"/>

    <div class="flex flex-row gap-2.5 items-center justify-center shrink-0 relative">
        <Button href="#Inicio" button='Inicio'/>
        <Button href="#Canciones" button='Canciones'/>
        <Button href="#Conciertos" button='Conciertos'/>
    </div>
</div>