---
interface Props {
	era: string;
    titulo: string;
    texto: string | null;
}

const { era , titulo , texto } = Astro.props;
---
<section
    class = "flex flex-col gap-3 items-start justify-start self-stretch shrink-0 relative">
    <h2
    class:list = `text-${era}-900 text-center text-headline-large relative self-stretch`>
        {titulo}
    </h2>
    <p
    class=`text-${era}-900 text-title-medium relative self-stretch` class:list={[{'hidden': texto===null}]}>
        {texto}
    </p>
</section>