---
---
<article class="rounded-3xl flex-wrap self-stretch shrink-0 overflow-hidden flex flex-col gap-0 items-center justify-center flex-1 min-w-[300px] max-w-[388px] relative shadow-xl shadow-black px-2.5 py-2.5"
style="
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15),
    0px 1px 2px 0px rgba(0, 0, 0, 0.3);
">
    <header class="w-full flex-col gap-2.5 items-center justify-start self-stretch shrink-0 relative"">
        <div class="bg-debut-400 rounded-xl p-2 flex flex-col gap-0 items-center justify-center self-stretch shrink-0 h-[72px] relative">
            <img
            class="bg-logo-debut self-stretch flex-1 relative h-full w-full"
            style="object-fit: contain"
            src="src/images/Logos-Discos/01-Logo-Debut.png"
            />        
        </div>
    </header>
</article>