---
import Title from "../components/Title.astro";
import Header from "../components/Header.astro";
import Subtitle from "../components/Subtitle.astro";
import FechaPasadas from "../components/FechaPasadas.astro";
import FechaActuales from "../components/FechaActuales.astro";

interface Props {
	era: string;
}

const { era } = Astro.props;
---
<article class:list = {[
    "py-12 px-32 space-y-6 ",
    {
        "bg-debut-100":         era === "debut",
        "bg-fearless-100":      era === "fearless",
        "bg-speakNow-100":      era === "speakNow",
        "bg-red-100":           era === "red",
        "bg-1989-100":          era === "1989",
        "bg-reputation-100":    era === "reputation",
        "bg-lover-100":         era === "lover",
        "bg-folklore-100":      era === "folklore",
        "bg-evermore-100":      era === "evermore",
        "bg-midnights-100":     era === "midnights",
        "bg-TTPD-100":          era === "TTPD",
    }
    ]}>
    <Title era={era} titulo="Fecha de conciertos" texto="Estas son todas las fechas The Eras Tour, las pasadas, las actuales, y las futuras."/>
    <section class="flex flex-col gap-2.5 items-start justify-start self-stretch shrink-0 relative">
        <Subtitle era={era} titulo="Fechas Actuales" texto="Conciertos que son esta semana."/>
        <div class="flex flex-row gap-6 items-start justify-start flex-wrap self-stretch shrink-0 h-[528px] relative">
            <FechaActuales eraFecha="debut" />
        </div>
    </section>
</article>
