---
import { ViewTransitions } from 'astro:transitions';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '@fontsource-variable/rubik';

interface Props {
	title: string;
	era: string;
}

const { title , era } = Astro.props;
---

<!doctype html>
<html lang = "en">
	<head>
		<meta charset = "UTF-8" />
		<meta name = "description" content = "Astro description" />
		<meta name = "viewport" content = "width = device-width" />
		<link rel = "icon" type = "image/svg+xml" href = "/mi-repo/src/components/svg/iconoPagina.svg" />
		<meta name = "generator" content = {Astro.generator} />
		
		<!-- Tipografías -->
		<link rel = "preconnect" href = "https://fonts.googleapis.com">
		<link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
		<link href = "https://fonts.googleapis.com/css2?family = Rubik:ital,wght@0,300..900;1,300..900&display = swap" rel = "stylesheet">
		
		<title>{title}</title>
		
		<ViewTransitions />
	</head>
	<body class:list={[
		"no-scrollbar w-screen",
		{
			"bg-debut-50": era === 'debut',
			"bg-fearless-50": era === 'fearless',
			"bg-speakNow-50": era === 'speakNow',
			"bg-red-50": era === 'red',
			"bg-1989-50": era === '1989',
			"bg-reputation-50": era === 'reputation',
			"bg-lover-50": era === 'lover',
			"bg-folklore-50": era === 'folklore',
			"bg-evermore-50": era === 'evermore',
			"bg-midnights-50": era === 'midnights',
			"bg-TTPD-50": era === 'TTPD',
			"bg-mashup-50": era === 'mashup',
		}
		]}>
		<Header era = {era}/>
		<main>
			<slot />
		</main>
		<Footer era = {era}/>
	</body>
</html>
<style is:global>
/* 	.no-scrollbar::-webkit-scrollbar {
            display: none; 
        } */
		.text-display-large{
			@apply font-display-large-font-family text-display-large-font-size leading-display-large-line-height font-display-large-font-weight;
		}
		.text-display-medium{
			@apply font-display-medium-font-family text-display-medium-font-size leading-display-medium-line-height font-display-medium-font-weight;
		}
		.text-display-small{
			@apply font-display-small-font-family text-display-small-font-size leading-display-small-line-height font-display-small-font-weight;
		}

		.text-headline-large{
			@apply font-headline-large-font-family text-headline-large-font-size leading-headline-large-line-height font-headline-large-font-weight;
		}
		.text-headline-medium{
			@apply font-headline-medium-font-family text-headline-medium-font-size leading-headline-medium-line-height font-headline-medium-font-weight;
		}
		.text-headline-small{
			@apply font-headline-small-font-family text-headline-small-font-size leading-headline-small-line-height font-headline-small-font-weight;
		}

		.text-title-large{
			@apply font-title-large-font-family text-title-large-font-size leading-title-large-line-height font-title-large-font-weight;
		}
		.text-title-medium{
			@apply font-title-medium-font-family text-title-medium-font-size leading-title-medium-line-height font-title-medium-font-weight;
		}
		.text-title-small{
			@apply font-title-small-font-family text-title-small-font-size leading-title-small-line-height font-title-small-font-weight;
		}

		.text-body-large{
			@apply font-body-large-font-family text-body-large-font-size leading-body-large-line-height font-body-large-font-weight;
		}
		.text-body-medium{
			@apply font-body-medium-font-family text-body-medium-font-size leading-body-medium-line-height font-body-medium-font-weight;
		}
		.text-body-small{
			@apply font-body-small-font-family text-body-small-font-size leading-body-small-line-height font-body-small-font-weight;
		}
</style>
